html {
  height: 100%; }

body {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
  /**background-image: url(handprint.png); **/
  background-repeat: no-repeat;
  background-attachment: fixed;
  /** background-size:cover; **/
  height: 100%; }

.circle {
  margin: 0 auto;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7) inset;
  -o-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7) inset;
  -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7) inset;
  /**
          -webkit-box-shadow:0 2px 2px #000, 0 1px 0 #fff inset;
          -moz-box-shadow:0 2px 2px #000, 0 1px 0 #fff inset;
          box-shadow:0 2px 2px #000, 0 1px 0 #fff inset;
  **/
  width: 400px;
  height: 400px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -o-border-radius: 200px;
  -ms-border-radius: 200px;
  border-radius: 200px;
  z-index: 11;
  cursor: pointer;
  position: absolute;
  display: block;
  /*        margin-right:-180px;
          margin-top:-192px;*/
  top: -328px;
  right: -290px;
  background-color: rgba(63, 117, 162, 0.3);
  transition: all linear 2s; }

.expanded {
  top: -70px;
  right: -70px;
  /**background-color: opacify(lighten( rgba($baseColorRed,$baseColorGreen,$baseColorBlue, 0.3), 10%),0.8);**/
  background-color: rgba(160, 191, 218, 0.9); }

.ui-draggable, .ui-droppable {
  background-position: top; }

.accordion-resizer {
  background-color: transparent;
  width: 350px;
  height: 220px;
  border: none; }

.form-messages span {
  -webkit-text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white, 0px 0px 4px white, 0px 0px 5px white, 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white, 0px 0px 11px white, 0px 0px 12px white;
  -moz-text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white, 0px 0px 4px white, 0px 0px 5px white, 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white, 0px 0px 11px white, 0px 0px 12px white;
  -o-text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white, 0px 0px 4px white, 0px 0px 5px white, 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white, 0px 0px 11px white, 0px 0px 12px white;
  -ms-text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white, 0px 0px 4px white, 0px 0px 5px white, 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white, 0px 0px 11px white, 0px 0px 12px white;
  text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white, 0px 0px 4px white, 0px 0px 5px white, 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white, 0px 0px 11px white, 0px 0px 12px white; }

.message-error {
  background-color: rgba(255, 0, 0, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  text-align: left;
  padding: 5px; }

.message-success {
  background-color: rgba(0, 100, 0, 0.1);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  text-align: left; }

#login-accordion {
  background-color: transparent;
  text-align: left; }

#login-accordion-container {
  display: inline-block; }

#login-accordion h3 {
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7); }

#login-accordion div {
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7); }

.accordion-heading {
  font-weight: bold; }

#outer-login-wrapper {
  display: block;
  border: thin lightgrey solid;
  color: black;
  width: 350px;
  -webkit-border-radius: 101px;
  -moz-border-radius: 101px;
  -o-border-radius: 101px;
  -ms-border-radius: 101px;
  border-radius: 101px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7); }

.form-wrapper {
  display: block;
  border: thin lightgrey solid;
  color: black;
  width: auto;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 80px;
  padding-left: 80px;
  overflow-x: hidden;
  max-height: 600px; }

.inner-form-wrapper {
  display: inline-block; }

.wrapper-for-form-block {
  display: block;
  padding-top: 50px; }

#login-block-1 {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle; }

.form-block {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle; }

.form-title {
  display: block;
  font-size: 18px;
  margin-bottom: 10px; }

.message-error {
  display: block;
  font-size: 13px;
  color: red;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 300px; }

.form-input {
  background-color: transparent;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
  border: thin solid transparent;
  background-color: rgba(255, 255, 255, 0.4);
  /** queued  .........seems ok as independant color........**/
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white, 0px 0px 4px white, 0px 0px 5px white, 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white, 0px 0px 11px white, 0px 0px 12px white;
  -moz-text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white, 0px 0px 4px white, 0px 0px 5px white, 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white, 0px 0px 11px white, 0px 0px 12px white;
  -o-text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white, 0px 0px 4px white, 0px 0px 5px white, 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white, 0px 0px 11px white, 0px 0px 12px white;
  -ms-text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white, 0px 0px 4px white, 0px 0px 5px white, 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white, 0px 0px 11px white, 0px 0px 12px white;
  text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white, 0px 0px 4px white, 0px 0px 5px white, 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white, 0px 0px 11px white, 0px 0px 12px white;
  width: 200px; }

.form-input-view {
  text-align: left;
  padding: 3px;
  padding-left: 10px; }

.form-input-description {
  text-align: right;
  padding: 3px;
  padding-right: 10px; }

#header {
  background-color: white;
  z-index: 10;
  display: block;
  border-bottom: grey thin solid;
  position: fixed;
  height: 50px;
  width: 100%; }

#header-inner {
  height: 50px;
  background-repeat: repeat-x;
  background: white;
  /* Old browsers */
  /**background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(142,162,178,1)), color-stop(92%,rgba(70,130,180,1))); **/
  background: -webkit-linear-gradient(top, rgba(178, 204, 225, 0.5) 0%, rgba(105, 155, 196, 0.5) 80%, rgba(41, 77, 107, 0.5) 100%);
  background: -moz-linear-gradient(top, rgba(178, 204, 225, 0.5) 0%, rgba(105, 155, 196, 0.5) 80%, rgba(41, 77, 107, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(178, 204, 225, 0.5) 0%, rgba(105, 155, 196, 0.5) 80%, rgba(41, 77, 107, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(178, 204, 225, 0.5) 0%, rgba(105, 155, 196, 0.5) 80%, rgba(41, 77, 107, 0.5) 100%);
  background: linear-gradient(top, rgba(178, 204, 225, 0.5) 0%, rgba(105, 155, 196, 0.5) 80%, rgba(41, 77, 107, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(178, 204, 225, 0.5)', endColorstr='rgba(41, 77, 107, 0.5)',GradientType=0 ); }

#user {
  display: inline-block;
  float: right;
  margin-right: 60px;
  cursor: pointer; }

#user-options {
  display: block;
  position: absolute;
  padding: 2px;
  right: 60px;
  border: gray thin solid;
  opacity: 0;
  height: auto;
  width: auto;
  max-height: 0px;
  max-width: 0px;
  overflow: hidden;
  -webkit-transition: all linear 1s;
  transition: all linear 1s; }

#user-options.user-options-show {
  opacity: 1;
  max-height: 200px;
  max-width: 100%;
  background-color: rgba(178, 204, 225, 0.7);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

#content {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  text-align: center;
  padding-bottom: 20px; }

#company-logo {
  height: 50px; }

.td-heading {
  text-align: center; }

#wrapper {
  position: relative;
  display: block;
  border: red thin solid;
  min-height: 100%;
  height: auto !important; }

#footer {
  display: block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 100%;
  max-width: 100%;
  height: 20px;
  /* Height of the footer */
  background-color: rgba(70, 130, 180, 0.3);
  text-align: center;
  -webkit-transition: max-width linear 900ms;
  /**queued **/
  transition: max-width linear 900ms;
  /**queued **/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

#footer span {
  color: black;
  font-size: 13px;
  display: inline-block;
  background-color: rgba(63, 117, 162, 0.3);
  vertical-align: middle;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 10px;
  height: 100%;
  -webkit-text-shadow: 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white;
  -moz-text-shadow: 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white;
  -o-text-shadow: 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white;
  -ms-text-shadow: 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white;
  text-shadow: 0px 0px 6px white, 0px 0px 7px white, 0px 0px 8px white, 0px 0px 9px white, 0px 0px 10px white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

#footer-on-off-button {
  display: block;
  float: right;
  margin-right: 20px; }

.menu {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  /*    border:black solid thin;*/
  -webkit-transition: all linear 1.5s;
  transition: all linear 1.5s; }

#footer-on-off-button {
  cursor: pointer; }

#footer.hide-menu {
  max-width: 50px;
  -webkit-transition: max-width linear 1300ms;
  transition: max-width linear 1300ms; }

.hide-menu .menu {
  max-width: 0px; }

.priv-wrapper {
  text-align: left; }

.priv-wrapper li {
  min-height: 20px;
  margin-top: 15px;
  border: blue solid thin; }

.priv-wrapper ul {
  padding-left: 15px; }

.priv-board-title {
  display: inline-block; }

.box-priv-wrapper {
  display: block;
  min-height: 40px;
  border: 5px red solid; }

.priv-box-title {
  display: inline-block;
  max-width: 100px;
  min-height: 40px; }

.priv-checkbox-container {
  float: right;
  text-align: right;
  border: black 3px solid;
  height: 40px;
  width: 600px;
  overflow: hidden; }

.priv-checkbox-set {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 2px;
  text-align: left;
  border-right: 1px gray solid;
  border-left: 1px gray solid; }

input[type=checkbox] {
  display: none; }

input[type=checkbox] + label {
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: 12px;
  height: 12px;
  margin: 1px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #ccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1); }

input[type=checkbox]:checked + label {
  background-image: url(../images/bg-checkbox.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center; }

.priv-checkbox-this {
  display: inline-block;
  background-color: #fcefa1;
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7) inset;
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7) inset;
  -o-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7) inset;
  -ms-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7) inset;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7) inset; }

.priv-checkbox-all-children {
  display: inline-block;
  background-color: yellow;
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 0px 2px 10px rgba(56, 200, 9, 0.7) inset;
  -moz-box-shadow: 0px 2px 10px rgba(56, 200, 9, 0.7) inset;
  -o-box-shadow: 0px 2px 10px rgba(56, 200, 9, 0.7) inset;
  -ms-box-shadow: 0px 2px 10px rgba(56, 200, 9, 0.7) inset;
  box-shadow: 0px 2px 10px rgba(56, 200, 9, 0.7) inset; }

.priv-checkbox-can-give-to-others {
  display: inline-block;
  background-color: lightblue;
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: 0px 2px 10px rgba(200, 50, 9, 0.7) inset;
  -moz-box-shadow: 0px 2px 10px rgba(200, 50, 9, 0.7) inset;
  -o-box-shadow: 0px 2px 10px rgba(200, 50, 9, 0.7) inset;
  -ms-box-shadow: 0px 2px 10px rgba(200, 50, 9, 0.7) inset;
  box-shadow: 0px 2px 10px rgba(200, 50, 9, 0.7) inset; }

.board {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  /**min-height:510px;**/ }

.board-title {
  color: white;
  font-size: 25px;
  text-align: center;
  border: white thin solid;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; }

.board-title {
  display: inline-block;
  width: 100%;
  background-color: rgba(70, 130, 180, 0.7);
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; }

.board-body {
  border: white thin solid;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  padding-right: 5px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; }

.box {
  padding: 10px;
  vertical-align: top;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  /**border: blue solid thin;**/
  /**min-height:500px;**/
  min-width: 160px;
  height: 100%; }

.box-title {
  text-align: center;
  width: 100%;
  font-size: 15px;
  border: white thin solid;
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7); }

.box-title span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-top-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-topright: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px; }

.box-body {
  display: inline-block;
  border: thin white solid;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7);
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: rgba(226, 233, 240, 0.7);
  min-width: 190px;
  min-height: 150px;
  height: 100%;
  width: 100%; }

.box-body-highlighted {
  box-shadow: 0px 2px 5px 1px rgba(20, 20, 20, 0.7); }

.box-vertical {
  display: table-cell;
  vertical-align: top;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  /**  border: blue solid thin;**/
  /**min-height:500px;**/
  /**min-width:160px;**/
  height: 100%;
  max-width: 200px; }

.max-width-auto {
  max-width: auto; }

.box-horizontal {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  /**  border: blue solid 20px; **/
  /**min-height:500px;**/
  width: auto;
  max-width: 1000px; }

.box-horizontal > .box-title {
  background-color: rgba(182, 155, 81, 0.89); }

.box-vertical > .box-title {
  background-color: rgba(159, 182, 205, 0.9); }

.task {
  position: relative;
  font-size: 12px;
  padding: 2px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  float: left;
  width: 80px;
  height: 70px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.7) inset;
  text-shadow: 0 0 2pt white, 0 0 6pt white, 0 0 7pt white; }

.task:hover {
  cursor: move;
  /*
  z-index:11;
   transform:  scale(2)  ;
  -webkit-transform:  scale(2)  ;
  -moz-transform:  scale(2) ;
  -o-transform:  scale(2)  ;
  -ms-transform:  scale(2)  ;
  */ }

.task-title {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 11px;
  text-align: left;
  font-weight: bold; }

.task-body {
  max-height: 50px;
  boarder: black thin solid;
  text-align: left;
  font-size: 11px;
  line-height: 10px;
  margin: 1px;
  overflow: hidden; }

.task-title span {
  fload: left; }

.drop-menu-button {
  cursor: pointer;
  float: left;
  margin-left: 10px; }

.drop-menu-options {
  font-size: 10px;
  text-align: left;
  position: absolute;
  z-index: 11;
  margin-left: auto;
  margin-right: auto; }

#message-box {
  display: block;
  position: absolute;
  top: 0px;
  right: 30%;
  left: 30%;
  max-height: 50px;
  vertical-align: middle;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px; }

.success-message {
  background-color: rgba(0, 100, 0, 0.1); }

.error-message {
  background-color: rgba(255, 0, 0, 0.1); }

.forms-for-board {
  display: block;
  position: fixed;
  max-height: 250px;
  overflow-x: hidden; }

.attachment {
  cursor: pointer;
  background-image: url("../images/attachment-icon1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  left: 5px;
  bottom: -10px;
  width: 15px;
  height: 15px; }

.attachment-content {
  display: none;
  position: absolute;
  border: thin #d3d3d3 solid;
  background: #ccddee; }

.download-button {
  display: block;
  cursor: pointer;
  background-image: url("../images/download-icon.png");
  background-repeat: no-repeat;
  boarder: thin red solid;
  background-position: center center;
  background-size: contain;
  width: 15px;
  height: 15px; }

.delete-button {
  display: block;
  cursor: pointer;
  background-image: url("../images/delete-icon.png");
  background-repeat: no-repeat;
  boarder: thin red solid;
  background-position: center center;
  background-size: contain;
  width: 15px;
  height: 15px; }

.attachment tbody tr:nth-child(2n) {
  background: #dadada; }

.task-priority {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  left: 25px;
  bottom: -10px;
  width: 15px;
  height: 15px; }

.task-priority-critical {
  background-image: url("../images/task-priority-critical.png"); }

.task-priority-high {
  background-image: url("../images/task-priority-high.png"); }

.task-priority-low {
  background-image: url("../images/task-priority-low.png"); }

.user-icon {
  cursor: pointer;
  background-image: url("../images/avatar-small.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: absolute;
  left: 45px;
  bottom: -10px;
  width: 15px;
  height: 15px; }

.user-icon2 {
    cursor: pointer;
    background-image: url("../images/avatar-small.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    left: 60px;
    bottom: -10px;
    width: 15px;
    height: 15px;
}
